.customers {
  padding-top: var(--section-pt-mob);
  padding-bottom: var(--section-pb-mob);
  @media screen and (min-width: 768px) {
    padding-top: var(--section-pt-tablet);
    padding-bottom: var(--section-pb-tablet);
  }
  @media screen and (min-width: 1200px) {
    padding-top: var(--section-pt-desktop);
    padding-bottom: var(--section-pb-desktop);
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.27;
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 480px) {
      margin-right: -30px;
      margin-bottom: -30px;
    }
  }

  &__item {
    width: 100%;
    @media screen and (min-width: 480px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-right: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 6 - 30px);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--social-icon-color);
    fill: var(--social-icon-color);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
