.team {
  background-color: var(--background-team-color);
  padding-top: var(--section-pt-mob);
  padding-bottom: var(--section-pb-mob);
  @media screen and (min-width: 768px) {
    padding-top: var(--section-pt-tablet);
    padding-bottom: var(--section-pb-tablet);
  }
  @media screen and (min-width: 1200px) {
    padding-top: var(--section-pt-desktop);
    padding-bottom: var(--section-pb-desktop);
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      margin-left: -30px;
      margin-bottom: -30px;
    }
  }

  &__item {
    width: 100%;
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  img {
    display: block;
    width: 100%;
  }

  &__list-wrapper {
    padding: 30px 32px;
    text-align: center;
    background: var(--primary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }

  &__list-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-contact-color);
    margin-bottom: 16px;
  }
}
