.header {
  &__contact-list {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      display: initial;
      padding-left: 84px;
    }
  }

  &__contact-icon {
    fill: var(--primary-contact-color);
    margin-right: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contact-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-contact-color);
    cursor: pointer;
    padding-top: 21px;
    padding-bottom: 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contact-link:hover,
  &__contact-link:focus {
    color: var(--accent-color);
    cursor: pointer;
  }

  &__contact-link:hover .header__contact-icon,
  &__contact-link:focus .header__contact-icon {
    fill: var(--accent-color);
  }

  &__tel-icon {
    fill: var(--primary-contact-color);
    margin-right: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__tel-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-contact-color);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 21px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: pointer;
    }

    &:hover .header__tel-icon,
    &:focus .header__tel-icon {
      fill: var(--accent-color);
    }
  }
}
.address {
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.footer {
  &__container-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-right: 93px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      align-items: flex-start;
      margin-bottom: unset;
    }
  }

  &-address__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }
  }
}
.footer-address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.footer-contact__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.footer-tel__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-contact-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}
