.navigation {
  &__list {
    display: none;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
      display: flex;
    }

    &__item {
      position: relative;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
      padding-top: 32px;
      padding-bottom: 32px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
      cursor: pointer;
    }

    &.current {
      color: var(--accent-color);
    }

    &__current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}
