.social-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-color);
    fill: var(--social-icon-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--primary-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__icon:not(:last-child) {
    margin-right: 10px;
  }
}
