:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --primary-contact-color:  #757575;
    --secondary-contact-color:  rgba(255, 255, 255, 0.6);
    --background-body-color: #E5E5E5;
    --background-team-color: #F5F4FA;
    --background-dark-color: #2F303A;
    --primary-color: #FFFFFF;
    --accent-color:  #2196F3;
    --border-color:  #EEEEEE;
    --social-icon-color: #AFB1B8;
    --bckg-button-color: #188ce8;
    --background-footer-icon-color: rgba(255, 255, 255, 0.1);
    --background-overlay-color: rgba(33, 150, 243, 0.9);
    --section-pb-mob: 60px;
    --section-pt-mob: 60px;
    --section-pb-tablet: 60px;
    --section-pt-tablet: 60px;
    --section-pb-desktop: 94px;
    --section-pt-desktop: 94px;
    --background-viewport-color: rgba(0, 0, 0, 0.2);
    --background-item-description-wrapper: rgba(47, 48, 58, 0.8);
}